<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlassian.SDK" version="2.5.0" targetFramework="net45" />
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="LayerContainer" version="0.3.96" targetFramework="net45" />
  <package id="LifeAPI" version="0.3.96" targetFramework="net45" />
  <package id="LifeGISLayer" version="0.3.22" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="MARSErrorReporting" version="0.3.51" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="SimulationManager" version="0.3.96" targetFramework="net45" />
  <package id="SpatialAPI" version="0.4.31" targetFramework="net45" />
</packages>